.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 130px;
  width: 550px;
  gap: 1rem;
}

.list li {
  text-transform: capitalize;
}
