.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  align-self: flex-start;
  justify-self: flex-end;
}

.form input {
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  width: 200px;
}

.formButton {
  background-color: #fff;
  border-radius: 20px;
}

.formButton button {
  color: #fff;
  padding: 10px 15px;
  background-color: hsl(12, 88%, 59%);
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.form button:hover {
  opacity: 0.7;
}
