.item {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 10% 90%;
  align-items: center;
  justify-content: center;
  padding: 0;
  gap: 1rem;
}

.badge {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 5px 10px;
  text-align: center;
  background-color: hsl(12, 88%, 59%);
  border-radius: 20px;
  color: #fff;
  font-weight: 700;
}

.title {
  grid-column: 2/3;
  grid-row: 1/2;
  color: hsl(228, 39%, 23%);
  font-weight: 700;
}

.description {
  grid-column: 2/3;
  grid-row: 2/3;
  color: hsl(227, 12%, 61%);
  line-height: 1.5;
  max-width: 450px;
}

@media screen and (max-width: 475px) {
  .item {
    gap: 0;
  }
  .badge {
    width: 170%;
    z-index: 3;
  }
  .title {
    background-color: hsl(13, 100%, 96%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180%;
  }
  .description {
    grid-column: 1/3;
    font-size: 0.9rem;
    line-height: 2;
  }
}
